<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="DemoWebShopSuite" parallel="tests" thread-count="2">

<!--
<suite name="DemoWebShopSuite" parallel="classes" thread-count="3">
<suite name="DemoWebShopSuite" parallel="methods" thread-count="5">
-->

  <test name="SmokeTests">
    <groups>
      <run>
        <include name="smoke"/>
      </run>
    </groups>
    <packages>
      <package name="tests"/>
    </packages>
  </test>
  

    <test name="RegressionTests">
    <groups>
      <run>
        <include name="regression"/>
        <exclude name="woman"/>
      </run>
    </groups>
    <packages>
      <package name="tests"/>
    </packages>
  </test>

</suite>
